{% extends "app/layout.html" %}
{% block content %}

<main>
  <!--
    jc-major-color: purple lighten-1
    jc-chip: purple darken-3
    jc-text-major: white-text
    jc-text-courseid: purple-text text-darken-4
    jc-text-title: purple-text text-darken-3
    jc-text-instructor: purple-text
    jc-text-accent: teal-text text-accent-2
  -->

  <div class="row">
    <div class="col s12 l9">
      <div class="card jc-major-color">
         <div class="card-content jc-text-major">
            <div class="row">
              <div class="col m9 offset-m2">
                <h1 class="light jc-text-courseid">
                  {{ course.courseid }}
                    <span class="hide-on-small-only flow-text">{{ course.semester_current }}</span>
                </h1>
                <p class="hide-on-med-and-up flow-text jc-text-major">{{ course.semester_current }}</p>
                {% if course_index %}
                  <a href="/courses/{{course.courseid}}" class="jc-text-major"><u>To current semester</u></a>
                {% endif %}
                <h4 class="light jc-text-major">{{ course.name }}</h4>
                <p>
                  / {{ course.department }} /
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                </p>
              </div>
              <div class="col s12 m5 offset-m2">
                Pre-requisites: {{ course.prereqs|default:"None" }}
                <!-- {% for prereq in course.prereqs %}
                <div class="chip jc-chip jc-text-major purple darken-3 white-text">
                  {{ prereq }}
                </div>
                {% empty %}
                None
                {% endfor %} -->
                <br/><br/>
              </div>
              <div class="col s12 m5">
                Co-requisites: {{ course.coreqs|default:"None" }}
                <!-- {% for coreq in course.coreqs %}
                <div class="chip jc-chip jc-text-major purple darken-3 white-text">
                  {{ coreq }}
                </div>
                {% empty %}
                None
                {% endfor %} -->
                <br/><br/>
              </div>
              <div class="col s10 m5 offset-m2">
                Units: {{ course.units|default:"Unknown" }}
              </div>
            </div>
         </div>
      </div>
    </div>
    <div class="col s8 offset-s4 m5 offset-m7 l3">
      <div class="card white">
        <div class="card-content right-align">
          <br/>
          <h4 class="light jc-text-title">Instructors</h4>
          <br/>
          <h5 class="jc-text-instructor">
            {% for instructor in course.instructors %}
            {{ instructor }}
            <a class="waves-effect tooltipped jc-text-title" data-position="top" data-tooltip="ratemyprofessors.com" href="http://www.ratemyprofessors.com/search.jsp?query={{ instructor }}" target="_blank" rel="nofollow">
              <i class="material-icons">launch</i>
            </a>
            <br/>
            {% endfor %}
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="section container">
    <div class="row">
      <div class="col s12 m10">
        <h4 class="">Description</h4>
        <p class="grey-text text-darken-3 {%if course.desc%}readmore {%endif%}">
          <br/>{{ course.desc|default:"No description available."|urlize|url_target_blank|safe }}
        </p>
      </div>
      <div class="col s12 divider"></div>
    </div>
  </div>

  {% if course.lectures %}
  <div class="section container">
    <div class="row">
      <div class="col s12">
        <h4>Lectures</h4><br/>
      </div>
      {% for lecture in course.lectures %}
      <div class="col s12 m6 l4">
        <div class="card hoverable jc-major-color">
          <div class="card-content jc-text-major">
            <span class="card-title"><b>&nbsp;&nbsp;&nbsp;{{ lecture.name }}</b></span>
            <p class="right-align">
              <span class="light">{{ lecture.times.0.location }}</span>
            </p>
            <p class="right-align">
              {% for instructor in lecture.instructors %}
              <a class="jc-text-major" href="/{{ course_index|default:'' }}?q={{ instructor }}"><b>{{ instructor }}</b></a><br/>
              {% endfor %}
            </p>
            {% for time in lecture.times %}
            <p>
              {% if time.days %} <br/><i class="material-icons tiny">today</i>&nbsp;&nbsp;
                {{ time.days|days_of_week|join:", " }}
              {% endif %}
              {% if time.begin %} <br/><i class="material-icons tiny">access_time</i>&nbsp;&nbsp;
                From {{ time.begin }} to {{ time.end }}
              {% endif %}
              {% if time.building %} <br/><i class="material-icons tiny">explore</i>&nbsp;&nbsp;
              <a class="jc-text-accent" href="https://www.google.com/maps/search/{{ time.building|cmu_building }}" target="_blank" rel="nofollow">
                  <b>{{ time.building|cmu_building }}</b></a> {{ time.room }}
              {% endif %}
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if course.sections %}
  <div class="section container">
    <div class="row">
      <div class="col s12">
        <h4>Sections</h4><br/>
      </div>
      <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for section in course.sections %}
          <li>
            <div class="collapsible-header hoverable {%if forloop.first%} active {%endif%}">
              <!-- <i class="material-icons">filter_drama</i>Section {{ section.name }}
              <span class="light badge">{{ section.times.0.location }}</span> -->
              <div class="row nomargin">
                <div class="col s5">
                  <i class="material-icons hide-on-small-only">filter_drama</i>
                  <span>Section {{ section.name }}</span>
                </div>
                <div class="col s7">
                  <p class="light right-align truncate nomargin">
                    {{ section.times.0.location }}
                  </p>
                </div>
              </div>
            </div>
            <div class="collapsible-body jc-major-color jc-text-major">
              <p>
                <span class="flow-text">{{ section.instructors|join:", " }}</span>
                {% for time in section.times %}
                <br/>
                {% if time.days %} <br/><i class="material-icons tiny">today</i>&nbsp;&nbsp;
                  {{ time.days|days_of_week|join:", " }}
                {% endif %}
                {% if time.begin %} <br/><i class="material-icons tiny">access_time</i>&nbsp;&nbsp;
                  From {{ time.begin }} to {{ time.end }}
                {% endif %}
                {% if time.building %} <br/><i class="material-icons tiny">explore</i>&nbsp;&nbsp;
                <a class="jc-text-accent" href="https://www.google.com/maps/search/{{ time.building|cmu_building }}" target="_blank" rel="nofollow">
                    <b>{{ time.building|cmu_building }}</b></a> {{ time.room }}
                {% endif %}
                {% endfor %}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="section container">
    <div class="row">
      <div class="col s12">
        <h4>Ratings</h4>
      </div>
    </div>
    <p>
      <a class="waves-effect grey-text text-darken-3"
         href="http://cmucoursereviews.me/course/{{ course.courseid }}/2015" target="_blank" rel="nofollow">
         FCE ratings and reviews on
         <span class="jc-text-title">
         cmucoursereviews.me
         </span>&nbsp;<i class="tiny material-icons">launch</i>
      </a>
    </p>
  </div>
  <div class="section container">
  {% include "app/disqus.html" %}
  </div>

  <div class="guanjianci" style="display:none">
    <p>cmu {{ course.courseid|short_courseid }}</p>
  </div>

</main>

{% endblock %}
