{% load template_filter %}

{% for time_attr, time_text in time_flags %}
  {% if events|get_attr:time_attr %}
  <div class="section">
    <h5 class="blue-grey-text"> &nbsp; {{ time_text }} {%if search_day%}(as on {{search_day|day_of_week}}){%endif%}<br><br> </h5>
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
      {% for course in events|get_attr:time_attr %}
        <li class="">
          <div class="collapsible-header waves-effect hoverable">
            <div class="row nomargin">
              <div class="col s12 m8 l8 truncate">
                <i class="material-icons hide-on-small-only">class</i>
                <span>
                  {{ course.courseid }} &nbsp;
                  {% if course.lecsec != "Lec"%}
                    {{ course.lecsec }}
                  {% endif %} &nbsp;&nbsp;
                  {{ course.name }}
                </span>
              </div>
              <div class="col hide-on-small-only">
                <span class="right badge">
                  {% if course.matchedTime.building %}
                    {{ course.matchedTime.building }} {{ course.matchedTime.room }} |
                  {% endif %}
                  {% if course.diffText %}
                    {{ course.diffText }}
                  {% endif %}
                </span>
              </div>
              <div class="col s12 hide-on-med-and-up">
                <span class="right grey-text text-darken-1">
                  {% if course.matchedTime.building %}
                    {{ course.matchedTime.building }} {{ course.matchedTime.room }} |
                  {% endif %}
                  {% if course.diffText %}
                    {{ course.diffText }}
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
          <div class="collapsible-body blue-grey darken-1" style="display: none;">
            <p class="grey-text text-lighten-5">
              <span class="flow-text"><a class="amber-text text-accent-4" href="/{{ search_index|default:'' }}?q={{ course.courseid }}">{{ course.courseid }}</a> &nbsp; {{ course.name }} &nbsp; {{ course.lecsec }} &nbsp; </span><br><br>
              / &nbsp; {{ course.department }} &nbsp; / <br>
              {% for time in course.times %}
                {{ time.days_text }} &nbsp; | {% if time.building_text %}<a class="amber-text text-accent-4" href="https://www.google.com/maps/search/{{ time.building_text }}" target="_blank">
                 {{ time.building_text }} </a> {{ time.room }}{% endif %}<br>
                {% if time.begin %}<span class="grey-text text-lighten-2">From</span> {{ time.begin }} <span class="grey-text text-lighten-2">to</span> {{ time.end }} <br><br>{% endif %}
              {% endfor %}
              <span class="grey-text text-lighten-2">Instructor:</span> &nbsp;{{ course.instructors|join:", "|title }}<br><br>
              <a class="waves-effect waves-light grey-text text-lighten-5"
                 href="/{{ search_index|default:"courses" }}/{{ course.courseid }}?src={{ request.get_full_path|urlencode }}{%if search_index%}&search_index={{search_index}}{%endif%}">
                < More <span class="amber-text text-accent-4">detail</span> about this course >
              </a>
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endfor %}
