{% extends "app/layout.html" %}
{% block content %}

<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.2.0/readmore.min.js"></script>-->

<main>
  <!-- <nav>
    <div class="nav-wrapper grey lighten-3">
      <div class="row">
        <form class="col s8 m10 l11" id="search-box">
          <div class="input-field">
            <input type="search" name="q" class="field" required maxlength="100" placeholder="Search" id="search-text">
            <label for="search-text"><i class="material-icons grey-text">search</i></label>
            <i class="material-icons" href="#">close</i>
          </div>
        </form>
      </div>
    </div>
    <ul id="slide-out" class="side-nav">
      <li><a href="/" style="font-size:150%;">Course Find</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav> -->

  <!--
    jc-major-color
    jc-chip
    jc-text-major
    jc-text-courseid
    jc-text-title
    jc-text-instructor

  -->

  <div class="row">
    <div class="col m9">
      <div class="card jc-major-color purple lighten-1">
         <div class="card-content jc-text-major white-text">
            <div class="row">
              <div class="col m9 offset-m2">
                <h1 class="light jc-text-courseid purple-text text-darken-4">{{ course.courseid }}
                  <span class="right flow-text">{{ course.semester_current }}</span>
                </h1>
                <h4 class="light jc-text-major white-text">{{ course.name }}</h4>
                <p>
                  / {{ course.department }} /
                  <br/>
                  <br/>
                  <br/>
                </p>
              </div>
              <div class="col s12 m5 offset-m2">
                Pre-requisites:
                {% for prereq in course.prereqs %}
                <div class="chip jc-chip jc-text-major purple darken-3 white-text">
                  {{ prereq }}
                </div>
                {% empty %}
                None
                {% endfor %}

                <br/><br/>
              </div>
              <div class="col s12 m5">
                Co-requisites:
                {% for coreq in course.coreqs %}
                <div class="chip jc-chip jc-text-major purple darken-3 white-text">
                  {{ coreq }}
                </div>
                {% empty %}
                None
                {% endfor %}
                <br/><br/>
              </div>
              <div class="col s10 m5 offset-m2">
                Units: {{ course.units|default:"Unknown" }}
              </div>
            </div>
         </div>
      </div>
    </div>
    <div class="col s8 offset-s4 m3">
      <div class="card white">
        <div class="card-content right-align">
          <h5 class="light jc-text-title purple-text text-darken-3">Instructor</h5>
          <br/>
          <p class="flow-text jc-text-instructor purple-text">
            {{ course.instructors|join:"\n" }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section container">
    <div class="row">
      <div class="col s12 m10">
        <h5 class="">Description</h5>
        <p class="light grey-text text-darken-3 {%if course.desc%}readmore {%endif%}">
          {{ course.desc|default:"No description available." }}
        </p>
      </div>
      <div class="col s12 divider"></div>
    </div>
  </div>
  <div class="section container">
    <div class="row">
      <div class="col s12">
        <h5>Lectures</h5>
      </div>
      {% for lecture in course.lectures %}
      <div class="col s12 m6 l4">
        <div class="card hoverable jc-major-color purple lighten-1">
          <div class="card-content white-text">
            <span class="card-title">{{ lecture.name }}</span>
            <p class="right-align">
              {{ lecture.instructors|join:", " }} <br/>
              <span class="light">{{ lecture.times.0.location }}</span>
            </p>
            {% for time in lecture.times %}
            <p class="light">
              <br/> {% for day in time.days %}{{ day|day_of_week }}, {% endfor %}
              {% if time.begin %} <br/><span class="grey-text text-lighten-2">From</span> {{ time.begin }} <span class="grey-text text-lighten-2">to</span> {{ time.end }}{% endif %}
              {% if time.building %} <br/><a href="https://www.google.com/maps/search/{{ time.building|cmu_building }}" target="_blank">
                      {{ time.building|cmu_building }} </a> {{ time.room }}{% endif %}
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="section container">
    <div class="row">
      <div class="col s12">
        <h5>Sections</h5>
      </div>
      <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for section in course.sections %}
          <li>
            <div class="collapsible-header hoverable {%if forloop.first%} active {%endif%}">
              <!-- <i class="material-icons">filter_drama</i>Section {{ section.name }}
              <span class="light badge">{{ section.times.0.location }}</span> -->
              <div class="row nomargin">
                <div class="col s5">
                  <i class="material-icons">filter_drama</i>
                  <span>Section {{ section.name }}</span>
                </div>
                <div class="col s7">
                  <p class="light right-align nomargin">
                    {{ section.times.0.location }}
                  </p>
                </div>
              </div>
            </div>
            <div class="collapsible-body">
              <p>
                <span class="flow-text">{{ section.instructors|join:", " }}</span>
                {% for time in section.times %}
                <br/>
                <br/> {{ time.days|days_of_week|join:", " }}
                <br/> {% if time.begin %} From {{ time.begin }} to {{ time.end }}{% endif %}
                <br/> {% if time.building %}<a href="https://www.google.com/maps/search/{{ time.building|cmu_building }}" target="_blank">
                        {{ time.building|cmu_building }} </a> {{ time.room }}{% endif %}
                {% endfor %}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>

<script type="text/javascript">
  $('.readmore').readmore();
</script>

{% endblock %}
