<!-- {% extends "app/layout.html" %}
{% block content %}
 -->

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.2.0/readmore.min.js"></script>


<main>
  <nav>
    <div class="nav-wrapper grey lighten-3">
      <div class="row">
        <form class="col s8 m10 l11" id="search-box">
          <div class="input-field">
            <input type="search" name="q" class="field" required maxlength="100" placeholder="Search" id="search-text">
            <label for="search-text"><i class="material-icons grey-text">search</i></label>
            <i class="material-icons" href="#">close</i>
          </div>
        </form>
      </div>
    </div>
    <ul id="slide-out" class="side-nav">
      <li><a href="/" style="font-size:150%;">Course Find</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>


  <div class="section white">
    <div class="row container">
    </div>
  </div>
  <div class="row">
    <div class="col m9">
      <div class="card purple lighten-1">
         <div class="card-content white-text">
            <div class="row">
              <div class="col m9 offset-m2">
                <h1 class="purple-text text-darken-4 light">21-259
                  <span class="right flow-text">Fall 2016</span>
                </h1>
                <h4 class="white-text light">Expanded Theater Fusion Studio</h4>
                <p>
                  / Computer Science /
                  <br/>
                  <br/>
                  <br/>
                </p>
              </div>
              <div class="col s12 m5 offset-m2">
                Pre-requisites: 
                <div class="chip purple darken-3 white-text">
                  15-112
                </div>
                <br/><br/>
              </div>
              <div class="col s12 m5">
                Co-requisites: 
                <div class="chip purple darken-3 white-text">
                  15-122
                </div>
                <div class="chip purple darken-3 white-text">
                  15-111
                </div>
                <div class="chip purple darken-3 white-text">
                  15-555
                </div>
                <br/><br/>
              </div>
              <div class="col s10 m5 offset-m2">
                Units: 9.0
              </div>
            </div>
         </div>
      </div>
    </div>
    <div class="col s8 offset-s4 m3">
      <div class="card white">
        <div class="card-content right-align">
          <h5 class="purple-text text-darken-3 light">Instructor</h5>
          <p class="flow-text purple-text">
            <br/> Anil Ada
            <br/> David Kosbie
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col m9 purple">
      <div class="section container">
        <h4 class="white-text light">Expanded Theater Fusion Studio</h4>
        <p class="teal-text text-accent-2">
          <br/>
          <br/> /  Computer Science  /
          <br/> Mon, Tue, Wed, Thu, Fri  | Doherty Hall A302
          <br/> From 9 a.m. to 10:20 a.m.
          <br/>
          <br/> Mon, Tue, Wed, Thu, Fri  |
          <br/> From 5:30 p.m. to 6:20 p.m.
          <br/>
          <br/> Instructor: Anil Ada
          <br/>
        </p>
      </div>
    </div>
    <div class="col m3 green">
      <div class="section container">
        <h4 class="white-text light">Instructor</h4>
        <p class="">
          <br/>
          <br/> David Kosbie
          <br/> 
        </p>
      </div>
    </div>
  </div>-->

  <div class="section container white">
    <div class="row">
      <div class="col s12 m10">
        <h5 class="">Description</h5>
        <p class="light grey-text text-darken-3 readmore">
          As the boundaries between theater, art, entertainment and everyday life continue to expand through engagement with new technologies, it is critical that emerging artists and technologists be provided with the tools, language, and vision to thrive in the
          new millennium. Expanded Theater will reanimate classical modes of performance with media, networks, robotics, locative applications, and mobile systems. Considering theater as an ancient technology of mass participation and social cohesion, this
          fusion studio explores how emerging technologies can expand upon the basic theatrical relationships in new and culturally relevant ways. Collaboration and integration of design, media and storytelling is critical to this approach. Experimentation
          with new forms can reanimate the basic values of theater; the essential nature of a live event, the possibility of visionary spectacle, and the creation of meaning in dialogue with an audience. Expanded Theater is an opportunity to explore avenues
          outside of traditional theatrical production modes and beyond each students individual discipline. The curriculum combines resources from Carnegie Mellons Schools of Art and Drama, Integrative Design, Arts, and Technology (IDeATe), the Emerging
          Media Masters (EM2), Computer Science, the Robotics Institute, and their collaborators across the university in a new configuration. Expanded Theater will explore domains ranging from site specific and networked-based performance and interventionist
          practices, to pervasive social media technologies and their influence on interpersonal communication. The goal is to investigate contemporary languages that allow authors, actors and technologists to collaborate in ways that push beyond our present
          understanding of theatrical production and reception.
        </p>
      </div>
      <div class="col s12 divider"></div>
    </div>
  </div>
  <div class="section container">
    <div class="row">
      <div class="col s12">
        <h5>Lectures</h5>
      </div>
      <div class="col s12 m6 l4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Lecture 1</span>
            <p class="right-align">
              Anil Ada
            </p>
            <p class="light">
              <br/> Mon, Tue, Wed, Thu, Fri
              <br/> From 9 a.m. to 10:20 a.m.
              <br/> Doherty Hall A302
              <br/>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Lecture 2</span>
            <p class="right-align">
              David Kosbie
            </p>
            <p class="light">
              <br/> Mon, Tue, Wed, Thu, Fri
              <br/> From 9 a.m. to 10:20 a.m.
              <br/> Doherty Hall A302
              <br/>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Lecture 3</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section container">
    <div class="row">
      <div class="col s12">
        <h5>Sections</h5>
      </div>
      <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Section A</div>
            <div class="collapsible-body">
              <p>
                <span class="flow-text">David Kosbie</span>
                <br/>
                <br/> Mon, Tue, Wed, Thu, Fri
                <br/> From 9 a.m. to 10:20 a.m.
                <br/> Doherty Hall A302
                <br/>
              </p>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

<script type="text/javascript">
  $(document).ready(function() {
    $('.parallax').parallax();
  });
  $('.readmore').readmore();
</script>

<!-- {% endblock %} -->
