{% extends "app/layout.html" %}
{% block content %}
<main>
  <div class="section white">
    <div class="row container">
      <div class="col s11">
      <h2 class="light">Disclaimer</h2>
      <p class="grey-text text-darken-3">
        <br>
        All course information provided through this site ("Content") is
        obtain from Carnegie Mellon University’s “Schedule of Classes” on
        <a href="https://enr-apps.as.cmu.edu/open/SOC/SOCServlet" target="_blank" rel="nofollow"> https://enr-apps.as.cmu.edu/open/SOC/SOCServlet </a>.
        The operators of this site are not responsible for the accuracy of the information provided through this site.
        Under no circumstances will this site or its operators be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.
        For up-to-date information, please refer to the Schedule of Classes.
      </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
